<div id="tabs">
  <p>
  	<%= link_to image_tag("edit_settings.png", :alt => "Edit Your Settings"), edit_current_user_path %>
  <p>
</div>
<br />
<div id="details-tab">
  <p><%= @user.interests %><p>
</div>
<div id="projects-tab">
  <h4>Is Member in the following projects</h4>
  <ul>
    <% for membership in @user.memberships %>
      <li><%= link_to "#{membership.project.name}", project_path(membership.project) %></li>
    <% end %>
  </ul>
</div>
