<% title "Definitions of #{@project.name}" %>

<div class="tabs">
  <p><%= link_to 'Back to project', account_project_path(@project.owner, @project) %></p>
</div>
<br />

<%= nested_definitions @arr_definitions %>

